*{
    font-family: 'Montserrat', sans-serif;
}
nav{
    width: 100%;
    height: 84px;
    background-color: #427E80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home-button{
    width: 150px;
    height: 84px;
    margin-left: 40px;
    background-color: #427E80 ;
  
}


.nav-right{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    gap: 1px;
    
}


.nav-button{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
    gap: 80px;
}


body{
    margin: 0;
    background-color: #427E80;
}

header{
    display: flex;
    width: 100%;
    height: 500px;
    
    /* background-color: #000; */
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-image: url(./assets/img/codigo.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    display: flex;
    text-align: center;
    font-size: 3.5em;
    background-color: #2D2D2D;

}
.content{
    height: 610px;
    margin: 100px 0px;
    /* padding: 100px 20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}
h2{
    text-align: center;
    font-size: 2.5em;
    color: #F0F5E4;
}

.card{
    width: 350px;
    height: 400px;
    border: 5px solid #154454;
    display: flex;
    background-color: #F0F5E4;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.card-image{
    width: 100%;
    height: fit-content;

}

.card-text{
   width: 90%; 

}

.card-button{
    padding: 10px;
    border-radius: 10px;
    background-color: #427E80;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #154454;
    text-align: center;
    text-decoration: none;
    color: #F0F5E4;
    width: 40%;
    margin-bottom: 20px;
}

footer{
    height: 80px;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #F0F5E4;
}

.footer-left{
    display: flex;
    width: 300px;
    height: 60px;
    /* background-color: #154454; */
    place-items: center;
    justify-content: space-between;
    text-align: center;
}

.historia-section{
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
}

article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
}

article > p {
    width: 45%;
}

.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.video-container{
display: block;
width: 70%;    
background-color: #000;
/* text-align: end; */
justify-content: center;
/* align-items: center;
flex-direction: column; */
margin-bottom: 100px ;
border: 5px solid ;

}

video{
    width: 100%;
    
}

.controls-bar{
    
    display: flex;
    padding: 5px;
    background-color: #1d1d1d;
    border-radius: 10px;
    gap: 20px;
   
   
}

.video-controls{
    width: 80px;
    height: 46px;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    background-color: #F0F5E4;
    color: #154454;
   

}


/* JUEGO  */

.game-section{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    place-items: center;
}

.drop-container{
    /* width: fit-content; */
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.dropbox{
    width: 275px;
    height: 400px;
    border:  2px solid;
    text-align: center;
}

.img-container{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}

.img-container > img{
    width: 275px;
    height: 400px;
}

.game-section > button{
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px 100px;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
}

.footer-img{
    /* width: fit-content; */
}

/* SOMBRAS */
h1{
    text-shadow: 4px 4px black;
}

h2{
    text-shadow: 2px 2px #154454;
}

/* ANIMACIONES!!!!!!!!!! */
/* LOGO - LAPTOP */
.logo-background{
    animation: behind ease-in 5s  ;
    animation-iteration-count:1 ;
    }
    
.logo-front{
animation: front ease-in 5s  ;
animation-iteration-count:1 ;
}

@keyframes behind {
    0% {
    transform: translate(0,-10px);
    opacity:0;}
    20% {
    transform: translate(0,-10px);
    opacity:0;}
    30% {
    transform: translate(0,0);
    opacity:1;}
    90% {
    transform: translate(0,0);
    opacity:1;}
    
    100% {
        transform: translate(0,0);
        opacity:1;}
}   
    

@keyframes front {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
        30% {
        transform: translate(0,-10px);
        opacity:0;}
        40% {
        transform: translate(0,0);
        opacity:1;}
        90% {
        transform: translate(0,0);
        opacity:1;}

        100% {
            transform:translate(0,0);
            opacity:1;}
        }  


/* ANIMACIÓN DE LOS BOTONES!!!!! */
.nav-button:active,.card-button:active,#restart:active{
    transform: translate(3px, 2px);
    box-shadow: none;
}